/* Estilos generales para el cuerpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 428px) {
  body {
      font-size: 14px;  /* Ajusta el tamaño de fuente para dispositivos móviles */
  }

  /* Agrega más estilos específicos para dispositivos móviles según sea necesario */
}

header {
  background-color: #aac8ec;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  max-width: 45px; /* Ajusta el tamaño de tu logo */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  margin: 0 10px;
  position: relative;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.menu li a:hover {
  background-color: #95b0eb;
}
/* Estilos para el submenú */
.submenu {
  display: none;
  position: absolute;
  background-color: #9891f1;
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
  padding: 0;
}

.submenu li {
  float: none;
}

.submenu li a {
  display: block;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #ddd;
}

.menu li:hover .submenu {
  display: block;
}

.menu-slider {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;

}

.menu-slider .slide {
  position: relative;
  display: inline;
  text-align: center;
}

.menu-slider img {
  width: calc(23% - 2px); /* Cada imagen ocupa el 25% del ancho menos 2 píxeles de separación */
  height: auto;
  cursor: pointer;
  margin-left: 5px; /* Separación entre imágenes */
  transition: transform 0.3s ease-in-out;
}

.menu-slider img:last-child {
  margin-right: 0; /* No hay margen derecho en la última imagen */
}

.menu-slider img:hover {
  transform: scale(1.1);
}

.slide-text {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 12px;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
}

.categoria {
  flex: 0 0 calc(50% - 10px); /* Cada categoría ocupa el 50% del ancho menos el espacio entre ellas */
  margin: 5px;
}

.categoria img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.categoria img:hover {
  transform: scale(1.1);
}

.categoria-text {
  text-align: center;
  padding: 5px;
  background-color: #333;
  color: white;
  font-size: 14px;
}
/* Estilo para las imágenes en la galería */
.galeria img {
  display: block; /* Para centrar la imagen */
  margin: 0 auto; /* Para centrar la imagen horizontalmente */
  width: 300px;
  height: 300px;
  object-fit: cover; /* Esto asegura que las imágenes se ajusten correctamente */
  margin-bottom: 10px; /* Espacio entre la imagen y la descripción */
}

/* Estilo específico para la descripción de servicios */
.galeria .descripcion-servicios {
  text-align: center; /* Centrar el texto */
  font-size: 14px;
  color: #555; /* Color del texto */
}

/*Footer*/

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-contenido {
  display: flex;
  justify-content: space-around;
}

.footer-columna {
  flex: 1;
  text-align: left;
  padding: 0 20px;
}

.footer-columna h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.redes-sociales {
  list-style: none;
  padding: 0;
}

.redes-sociales li {
  margin-bottom: 5px;
}

.redes-sociales a {
  color: white;
  text-decoration: none;
}

.redes-sociales a:hover {
  text-decoration: underline;
}

.footer-derechos {
  margin-top: 20px;
}



/* Estilo específico para los elementos de la galería con informacoion pension*/
.galeria-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imagen-principal {
  max-width: 60%;
  height: auto;
  border: 2px solid #333;
  margin-bottom: 20px;
}

.imagen-pequena {
  max-width: 25%;
  height: auto;
  border: 2px solid #333;
  margin: 0 10px 10px 0;
}

.descripcion {
  max-width: 100%;
  margin-top: 20px;
}

.imagen-ampliada {
  max-width: 100%;
  height: auto;
  border: 2px solid #333;
}


/* Estilos para los botones de navegación en el modal */
.navegacion-modal {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.anterior, .siguiente {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
}

.anterior {
  margin-left: 10px;
}

.siguiente {
  margin-right: 10px;
}

/* Estilos para las imágenes en el modal */
.modal-contenido {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}

/* Estilos para el botón de cerrar el modal */
.cerrar-modal {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  cursor: pointer;
  padding: 8px;
  color: #fff;
}

/* Estilos para el fondo oscuro del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Estilos adicionales para centrar las imágenes principales */
.galeria-2 {
  text-align: center;
}

.imagen-principal {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

/* Agrega estos estilos al final de tu archivo CSS existente */
